/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.form input:not([type=file]), .form select, .input, .button, .token {
  transition: all 0.1s ease-out;
  transition-property: box-shadow, top; }

/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.twitter-typeahead {
  width: 100%;
  float: left; }

.group .twitter-typeahead {
  width: auto; }

.twitter-typeahead .tt-hint {
  color: #999999; }

.twitter-typeahead .tt-input {
  z-index: 2; }

.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important; }

.tt-dropdown-menu,
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.41667), 0 4px 8px -8px rgba(0, 0, 0, 0.4);
  z-index: 8;
  background-clip: padding-box; }

.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333; }

.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #262626; }

.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
  color: #262626; }

.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
  margin: 0; }

.form input:not([type=file]), .form select, .input, .button, .token {
  transition: all 0.1s ease-out;
  transition-property: box-shadow, top; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

.layout-row, .layout-col {
  overflow: hidden;
  position: absolute; }

.layout-row {
  left: 0;
  right: 0; }

.layout-col {
  top: 0;
  bottom: 0; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.header {
  height: 75px;
  z-index: 2; }

.sidebar {
  width: 250px;
  top: 75px;
  z-index: 1; }

.body {
  top: 75px;
  left: 250px;
  z-index: 0; }

.clearfix:after, .token-list-input:after, .group:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

html, body {
  color: #2E2E2E;
  background-color: #f8f8f8;
  font-size: 100%; }

a {
  color: #ff0040; }
  a:link {
    color: #ff0040; }
  a:visited {
    color: #cc0033; }
  a:hover {
    color: #ff668c; }
  a:active {
    color: #cc0033; }

h1, h2 {
  font-size: 160%;
  font-weight: lighter; }

h3, h4 {
  font-size: 140%; }

h5, h6 {
  font-size: 120%; }

.text {
  line-height: 1.6em; }

.text-large {
  font-size: 120%;
  font-weight: bold; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

.pad {
  padding: 0.5em; }

.mar {
  margin: 0.5em; }

.form input:not([type=file]), .form select, .input, .button {
  position: relative;
  top: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0.5em 0.7em;
  border: none;
  border-radius: 2px;
  color: #2E2E2E;
  background-color: white; }
  .form input:not([type=file]):not([disabled]):not([readonly]), .form select:not([disabled]):not([readonly]), .input:not([disabled]):not([readonly]), .button:not([disabled]):not([readonly]) {
    top: -0.5px;
    box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.17647), 0 0.5px 1px -1px rgba(0, 0, 0, 0.4);
    z-index: 1; }
    .form input:not([type=file]):not([disabled]):not([readonly]):hover, .form select:not([disabled]):not([readonly]):hover, .input:not([disabled]):not([readonly]):hover, .button:not([disabled]):not([readonly]):hover {
      top: -1.5px;
      box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.26316), 0 1.5px 3px -3px rgba(0, 0, 0, 0.4);
      z-index: 3; }

.button.button-primary:not(_) {
  color: #ffffff;
  background-color: #ff0040; }
.button:active:not([disabled]):not([readonly]) {
  top: -1px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22222), 0 1px 2px -2px rgba(0, 0, 0, 0.4);
  z-index: 2; }

.header {
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.4); }
  .header > div {
    height: inherit; }
  .header #header-content {
    display: inline-block;
    height: 100%;
    padding: 0 40px;
    line-height: 100%;
    vertical-align: middle; }
    .header #header-content .header-title {
      display: inline; }
    .header #header-content .header-subtitle {
      display: inline;
      margin-left: 0.4em;
      font-weight: lighter;
      color: #949494; }
  .header .login {
    display: inline-block;
    width: 250px;
    height: 100%;
    padding: 15px;
    color: #ffffff;
    background-color: #5bb827; }
    .header .login .login-text {
      float: left;
      line-height: 100%; }
      .header .login .login-text .login-username {
        font-style: italic; }

.body-panel {
  padding: 40px; }

.pane {
  padding: 20px; }

.data-row {
  position: relative;
  padding: 1em 22px;
  margin: 0 8px;
  background-color: white;
  box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.17647), 0 0.5px 1px -1px rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .data-row .field-group {
    line-height: 150%;
    margin: 0.6em 0; }
  .data-row .label {
    font-size: 90%;
    padding-right: 0.3em;
    color: #949494; }
  .data-row .field {
    font-size: 90%; }
    .data-row .field.text-large {
      font-size: 110%; }
  .data-row .button {
    background-color: #f8f8f8; }
  .data-row.edit {
    padding: 28px;
    margin: 8px 0;
    box-shadow: 0 2.5px 10px 0 rgba(0, 0, 0, 0.33333), 0 2.5px 5px -5px rgba(0, 0, 0, 0.4);
    z-index: 5; }

.token-list-input .token-list {
  float: left; }
.token-list-input .token-input {
  display: inline-block; }

.token-submit {
  display: none; }

.token {
  display: inline-block;
  position: relative;
  top: 0;
  padding: 2px 4px;
  margin: 2px 4px;
  border-radius: 2px;
  font-size: 90%;
  background-color: #ffceee;
  box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.17647), 0 0.5px 1px -1px rgba(0, 0, 0, 0.4);
  z-index: 1; }
  .token:hover {
    top: -0.5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22222), 0 1px 2px -2px rgba(0, 0, 0, 0.4);
    z-index: 2; }
  .token button {
    background: none;
    border: none; }

.group {
  display: table; }
  .group .group-component {
    display: table-cell;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    border-radius: 0; }
  .group .group-component:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .group .group-component:last-child {
    float: right;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

/* The following toggle styles are adpated from Materialize (materializecss.com)
 * License: The MIT License (MIT)
 * Copyright (c) 2014-2015 Materialize
 */
.toggle label {
  color: #949494;
  font-size: 80%;
  padding: 0 11px; }
  .toggle label .toggle-lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #dfdfdf;
    border-radius: 15px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 11px; }
    .toggle label .toggle-lever:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 21px;
      height: 21px;
      background-color: #f8f8f8;
      border-radius: 21px;
      left: -5px;
      top: -3px;
      transition: left 0.3s ease, background 0.3s ease; }
  .toggle label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0; }
    .toggle label input[type=checkbox]:checked + .toggle-lever:after {
      left: 24px; }
    .toggle label input[type=checkbox]:not(:disabled) + .toggle-lever {
      cursor: pointer; }
    .toggle label input[type=checkbox]:not(:disabled) + .toggle-lever:after {
      cursor: pointer;
      box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.17647), 0 0.5px 1px -1px rgba(0, 0, 0, 0.4);
      z-index: 1; }
    .toggle label input[type=checkbox]:not(:disabled):checked + .toggle-lever {
      background-color: #ffceee; }
    .toggle label input[type=checkbox]:not(:disabled):checked + .toggle-lever:after {
      background-color: #ff0040; }
    .toggle label input[type=checkbox]:disabled + .toggle-lever {
      background-color: #faecf5; }
    .toggle label input[type=checkbox]:disabled + .toggle-lever:after {
      background-color: #e699ac; }

.typeahead-nostyle {
  border: none;
  outline: none; }

.modal-content {
  border-radius: 3px; }

.fadein {
  animation: fadein 0.3s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.header {
  background-color: white; }

.sidebar {
  color: #bcbfb4;
  background-color: #1f1f1f; }

.body {
  background-color: #f8f8f8; }

.sidebar .menu {
  padding: 20px 0; }
  .sidebar .menu > li {
    width: 100%;
    font-weight: bold; }
    .sidebar .menu > li.active {
      color: #2E2E2E;
      background-color: #f8f8f8; }
    .sidebar .menu > li.indirect {
      background-color: #c5c5c5; }
    .sidebar .menu > li a {
      color: inherit;
      display: block;
      padding: 1.2em 30px; }

/*# sourceMappingURL=admin.css.map */
