/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }

.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }

.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%; }

.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%; }

.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  line-height: 30px; }

textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: auto; }

.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0; }

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  line-height: 46px; }

textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: auto; }

.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0; }

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px; }

.twitter-typeahead {
  width: 100%;
  float: left; }

.input-group .twitter-typeahead {
  display: table-cell !important; }

.twitter-typeahead .tt-hint {
  color: #999999; }

.twitter-typeahead .tt-input {
  z-index: 2; }

.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important; }

.tt-dropdown-menu,
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px; }

.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333; }

.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #262626; }

.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
  color: #262626; }

.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

.layout-row, .layout-col {
  overflow: hidden;
  position: absolute; }

.layout-row {
  left: 0;
  right: 0; }

.layout-col {
  top: 0;
  bottom: 0; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.header {
  height: 75px;
  z-index: 1; }

.sidebar {
  width: 250px;
  top: 75px;
  z-index: 2; }

.body {
  top: 75px;
  left: 250px;
  z-index: 0; }

.clearfix:after, .token-list-input:after, .group:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

html, body {
  color: #2E2E2E;
  background-color: #f8f8f8;
  font-size: 100%; }

a {
  color: #ff0040; }
  a:link {
    color: #ff0040; }
  a:visited {
    color: #cc0033; }
  a:hover {
    color: #ff668c; }
  a:active {
    color: #cc0033; }

h1, h2 {
  font-size: 160%;
  font-weight: lighter; }

h3, h4 {
  font-size: 140%; }

h5, h6 {
  font-size: 120%; }

.text {
  line-height: 1.6em; }

.text-large {
  font-size: 120%;
  font-weight: bold; }

.form input:not([type=file]), .input, .button {
  position: relative;
  top: 0;
  margin: 4px 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  color: #2E2E2E;
  background-color: white; }
  .form input:not([type=file]):not([disabled]), .input:not([disabled]), .button:not([disabled]) {
    transition: top 0.02s ease-out;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22222), 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    z-index: 1; }
    .form input:not([type=file]):not([disabled]):hover, .input:not([disabled]):hover, .button:not([disabled]):hover {
      top: -2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -2px rgba(0, 0, 0, 0.1);
      z-index: 2; }

.button:active:not([disabled]) {
  top: -1px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22222), 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  z-index: 1; }

.header {
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.4); }
  .header > div {
    height: inherit; }
  .header #header-content {
    display: inline-block;
    height: 100%;
    padding: 0 40px;
    line-height: 100%;
    vertical-align: middle; }
    .header #header-content .header-title {
      display: inline; }
    .header #header-content .header-subtitle {
      display: inline;
      margin-left: 0.6em;
      font-weight: lighter;
      color: #949494; }
  .header .login {
    display: inline-block;
    width: 250px;
    height: 100%;
    padding: 15px;
    color: #ffffff;
    background-color: #5bb827; }
    .header .login .login-text {
      float: left;
      line-height: 100%; }
      .header .login .login-text .login-username {
        font-style: italic; }

.body-panel {
  padding: 40px; }

.data-row {
  position: relative;
  padding: 20px;
  margin: 0 8px;
  background-color: white;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.125), 0 0px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 0; }
  .data-row .form-label, .data-row .field-label {
    margin-right: 0.3em;
    font-size: 90%;
    color: #949494; }
  .data-row .field {
    margin: 12px 0;
    font-size: 90%; }
    .data-row .field.text-large {
      font-size: 110%; }
  .data-row.edit {
    padding: 28px;
    margin: 8px 0;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.41667), 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    z-index: 4; }

.token-list-input {
  display: inline-block; }
  .token-list-input .token-list {
    display: inline-block;
    float: left; }
  .token-list-input .token-input {
    display: inline-block; }
    .token-list-input .token-input .token-input-typeahead {
      overflow: hidden; }

.token-submit {
  display: inline-block;
  float: right; }

.token {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 2px;
  font-size: 90%;
  background-color: #ffceee;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22222), 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  z-index: 1; }
  .token:hover {
    top: -1px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    z-index: 2; }
  .token button {
    background: none;
    border: none; }

.group {
  display: table; }
  .group .group-component {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    border-radius: 0; }
    .group .group-component.group-side {
      width: 1%; }
  .group .group-component:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .group .group-component:last-child {
    float: right;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

.typeahead-nostyle {
  border: none;
  outline: none; }

.fadein {
  animation: fadein 0.4s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.header {
  background-color: white; }

.sidebar {
  color: #bcbfb4;
  background-color: #1f1f1f; }

.body {
  background-color: #f8f8f8; }

.sidebar .menu {
  padding: 20px 0; }
  .sidebar .menu > li {
    width: 100%;
    font-weight: bold; }
    .sidebar .menu > li.active {
      color: #2E2E2E;
      background-color: #f8f8f8; }
    .sidebar .menu > li a {
      color: inherit;
      display: block;
      padding: 1.2em 30px; }

/*# sourceMappingURL=admin.css.map */
