@import "reset";
@import "typeahead";
@import "drop-shadow";

$header-height: 75px;
$sidebar-width: 200px;

$color-text: #2E2E2E;
$color-background: #f8f8f8;

$color-text-alt: #bcbfb4;
$color-background-alt: #1f1f1f;

$color-primary-1: #ff0040;
$color-primary-2: #ffceee;
$color-primary-3: #fffad8;
$color-complement: #5bb827;
$color-text-primary-1: #ffffff;
$color-text-complement: #ffffff;

* { box-sizing: border-box }

body { margin: 0 }
.layout-row, .layout-col { overflow: hidden; position: absolute; }
.layout-row { left: 0; right: 0; }
.layout-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

$sidebar-width: 250px;

.header {
	height: $header-height;
	z-index: 2;
}
.sidebar {
	width: $sidebar-width;
	top: $header-height;
	z-index: 1;
}
.body {
	top: $header-height;
	left: $sidebar-width;
	z-index: 0;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

html,body {
	color: $color-text;
	background-color: $color-background;
	font-size: 100%;
}
a {
	color: $color-primary-1;
	&:link {
		color: $color-primary-1;
	}
	&:visited {
		color: darken($color-primary-1, 10%);
	}
	&:hover {
		color: lighten($color-primary-1, 20%);
	}
	&:active {
		color: darken($color-primary-1, 10%);
	}
}

h1,h2 {
	font-size: 160%;
	font-weight: lighter;
}
h3,h4 {
	font-size: 140%;
}
h5,h6 {
	font-size: 120%;
}

.text {
	line-height: 1.6em;
}

.text-large {
	font-size: 120%;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.pad {
	padding: 0.5em;
}
.mar {
	margin: 0.5em;
}

.form input:not([type=file]), .form select, .input, .button {
	position: relative;
	top: 0;

	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0.5em 0.7em;
	border: none;
	border-radius: 2px;

	color: $color-text;
	background-color: white;

	@extend %floating-transitions;
	&:not([disabled]):not([readonly]) {
		top: -0.5px;
		@include drop-shadow(1);
		&:hover {
			top: -1.5px;
			@include drop-shadow(3);
		}
	}
}
.button {
	&.button-primary:not(_) {
		color: $color-text-primary-1;
		background-color: $color-primary-1;
	}
	&:active:not([disabled]):not([readonly]) {
		top: -1px;
		@include drop-shadow(2);
	}
}

@import "components";

.fadein {
	animation: fadein 0.3s;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}