.header {
	box-shadow: 0 0 8px 8px rgba(0,0,0,0.1),
		0 2px 4px 0 rgba(0,0,0,0.4);

	& > div {
		height: inherit;
	}

	#logo {
		display: inline-block;
		width: $sidebar-width;
	}

	#header-content {
		display: inline-block;
		padding: 0 40px;
		
		.header-title {
			display: inline;
			line-height: $header-height;
			vertical-align: middle;
		}
		.header-subtitle {
			display: inline;
			line-height: $header-height;
			margin-left: 0.4em;
			font-weight: lighter;
		}
	}

	.login {
		float: right;
		display: inline-block;
		width: $sidebar-width;
		height: 100%;
		padding: 15px;

		.login-text {
			float: left;
			line-height: 100%;

			.login-username {
				font-style: italic;
			}
		}

		.button-logout {
		}
	}
}

.body-panel {
	padding: 40px;
}

.pane {
	padding: 20px;
}

.data-row {
	position: relative;

	padding: 1em 22px;
	margin: 0 8px;

	background-color: white;

	@include drop-shadow(1);

	.field-group {
		line-height: 150%;
		margin: 0.6em 0;
	}
	.label {
		font-size: 90%;
		padding-right: 0.3em;
		color: lighten($color-text, 40%);
	}
	.field {
		font-size: 90%;
		&.text-large {
			font-size: 110%;
		}
	}

	.button {
		background-color: $color-background;
	}

	&.edit {
		padding: 28px;
		margin: 8px 0;

		@include drop-shadow(5);
	}
}

.token-list-input {
	@extend .clearfix;

	.token-list {
		float: left;
	}
	.token-input {
		display: inline-block;

		.token-input-typeahead {
			// overflow: hidden;
		}
	}
}
.token-submit {
	display: none;
}
.token {
	display: inline-block;
	position: relative;
	top: 0;

	padding: 2px 4px;
	margin: 2px 4px;
	border-radius: 2px;
	font-size: 90%;

	background-color: $color-primary-2;

	@extend %floating-transitions;
	@include drop-shadow(1);

	&:hover {
		top: -0.5px;
		@include drop-shadow(2);
	}

	button {
		background: none;
		border: none;
	}
}

.group {
	@extend .clearfix;
	display: table;

	.group-component {
		display: table-cell;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		vertical-align: middle;
		border-radius: 0;
	}
	.group-component:first-child {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.group-component:last-child {
		float: right;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

/* The following toggle styles are adpated from Materialize (materializecss.com)
 * License: The MIT License (MIT)
 * Copyright (c) 2014-2015 Materialize
 */
.toggle label {
	color: lighten($color-text, 40%);
	font-size: 80%;
	padding: 0 11px;

	.toggle-lever {
		content: "";
		display: inline-block;
		position: relative;
		width: 40px;
		height: 15px;
		background-color: darken($color-background, 10%);
		border-radius: 15px;
		transition: background 0.3s ease;
		vertical-align: middle;
		margin: 0 11px;

		&:after {
			content: "";
			position: absolute;
			display: inline-block;
			width: 21px;
			height: 21px;
			background-color: $color-background;
			border-radius: 21px;
			left: -5px;
			top: -3px;
			transition: left 0.3s ease, background 0.3s ease;
		}
	}

	input[type=checkbox] {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .toggle-lever:after {
			left: 24px;
		}
		&:not(:disabled) {
			& + .toggle-lever {	
				cursor: pointer;
			}
			& + .toggle-lever:after {
				cursor: pointer;
				@include drop-shadow(1);
			}
			&:checked + .toggle-lever {
				background-color: $color-primary-2;
			}
			&:checked + .toggle-lever:after {
				background-color: $color-primary-1;
			}
		}
		&:disabled {
			& + .toggle-lever {
				background-color: mix(desaturate($color-primary-2, 40%), white, 50%);
			}
			& + .toggle-lever:after {
				background-color: mix(desaturate($color-primary-1, 40%), white, 50%);
			}
		}
	}
}

.typeahead-nostyle {
	border: none;
	outline: none;
}

.modal-content {
	border-radius: 3px;
}