.header {
	box-shadow: 0 0 8px 8px rgba(0,0,0,0.2),
		0 4px 4px 0 rgba(0,0,0,0.4);

	& > div {
		height: inherit;
	}

	#header-content {
		display: inline-block;
		height: 100%;
		padding: 0 40px;
		line-height: 100%;
		vertical-align: middle;
		
		.header-title {
			display: inline;
		}
		.header-subtitle {
			display: inline;
			margin-left: 0.6em;
			font-weight: lighter;
			color: lighten($color-text, 40%);
		}
	}

	.login {
		display: inline-block;
		width: $sidebar-width;
		height: 100%;
		padding: 15px;

		color: $color-text-complement;
		background-color: $color-complement;

		.login-text {
			float: left;
			line-height: 100%;

			.login-username {
				font-style: italic;
			}
		}

		.button-logout {
		}
	}
}

.body-panel {
	padding: 40px;
}

.data-row {
	position: relative;

	padding: 20px;
	margin: 0 8px;

	background-color: white;

	@include drop-shadow(0);

	.form-label, .field-label {
		margin-right: 0.3em;
		font-size: 90%;
		color: lighten($color-text, 40%);
	}
	.form-label {
	}
	.field-label {
	}

	.field {
		margin: 12px 0;
		font-size: 90%;

		&.text-large {
			font-size: 110%;
		}
	}

	&.edit {
		padding: 28px;
		margin: 8px 0;

		@include drop-shadow(4);
	}
}

.token-list-input {
	@extend .clearfix;

	.token-list {
		float: left;
	}
	.token-input {
		display: inline-block;

		.token-input-typeahead {
			// overflow: hidden;
		}
	}
}
.token-submit {
	display: none;
}
.token {
	display: inline-block;
	position: relative;

	padding: 2px 4px;
	margin: 0 4px;
	border-radius: 2px;
	font-size: 90%;

	background-color: $color-primary-2;

	@include drop-shadow(1);

	&:hover {
		top: -1px;
		@include drop-shadow(2);
	}

	button {
		background: none;
		border: none;
	}
}

.group {
	@extend .clearfix;
	display: table;

	.group-component {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		border-radius: 0;

		&.group-side {
			width: 1%;
		}
	}
	.group-component:first-child {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.group-component:last-child {
		float: right;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

.typeahead-nostyle {
	border: none;
	outline: none;
}