.header {
	box-shadow: 0 0 8px 8px rgba(0,0,0,0.1),
		0 2px 4px 0 rgba(0,0,0,0.4);

	& > div {
		height: inherit;
	}

	#logo {
		display: inline-block;
		width: $sidebar-width;
	}

	#header-content {
		display: inline-block;
		padding: 0 40px;
		font-family: "Roboto Slab", serif;
		font-weight: lighter;
		
		*:last-child {
			font-weight: normal;
		}
		.header-title {
			display: inline;
			line-height: $header-height;
			vertical-align: baseline;
		}
		.header-subtitle {
			display: inline;
			margin-left: 0.5em;
			line-height: $header-height;
			vertical-align: baseline;
			font-size: 100%;
		}
	}

	.login {
		float: right;
		display: inline-block;
		height: 100%;
		padding: 15px;

		.login-text {
			float: left;
			line-height: 100%;

			.login-username {
				font-style: italic;
			}
		}

		.button-logout {
		}
	}
}

.body-panel {
	padding: 40px;
}

.pane {
	padding: 20px;
}

.panel-toolbar {
	padding: 10px 0;
	&>div {
		padding: 30px;
		border-right: solid 1px rgba(0,0,0,0.1);
		&:last-child {
			border-right: none;
		}
	}
	h6 {
		opacity: 0.8;
	}
}

.form input:not([type=file]), .form select, .input, .button {
	position: relative;
	top: 0;

	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0.5em 0.7em;
	border: none;
	border-radius: 2px;

	font-family: "Roboto", sans-serif;
	font-size: 90%;
	color: $color-text;
	background-color: white;

	@extend %floating-transitions;
	&:not(.button-flat):not([disabled]):not([readonly]) {
		top: -0.5px;
		@include drop-shadow(1);
		&:hover {
			top: -1.5px;
			@include drop-shadow(3);
		}
	}
}
form input[type=button], form input[type=submit], form input[type=reset], .button {
	padding: 0.7em 0.9em;
	font-family: "Roboto", sans-serif;
	font-size: 80%;
	font-weight: bold;
	text-transform: uppercase;

	&[disabled],&[readonly] {
		background-color: transparent;
	}
	&:active {
		top: -0.5px;
		@include drop-shadow(1);
	}
	&.button-primary:not(x) {
		color: $color-text-primary-1;
		background-color: $color-primary-1;
	}
	&.button-complement:not(x) {
		color: $color-text-complement;
		background-color: $color-complement;
	}
	&:active:not([disabled]):not([readonly]) {
		top: -1px;
		@include drop-shadow(2);
	}
	&.button-flat:not(x) {
		color: $color-primary-1;
		background-color: transparent;
		&.button-complement {
			color: $color-complement;
			background-color: transparent;
		}
		@include drop-shadow(0);
		&:hover {
			top: -1px;
			@include drop-shadow(2);
		}
	}
}
.button-close {
	opacity: 0.6;
	font-size: 140%;
	font-weight: bold;
	padding: 0.1em 0.3em;

	&:hover {
		opacity: 1;
	}
}

.file-wrapper {
	display: inline-block;
	cursor: pointer;
	margin: 4px;

	.input {
		width: 12em;
		overflow-x: hidden;
	}
	input[type=file] {
		display: none;
	}
}

.data-row {
	position: relative;

	padding: 1em 22px;
	margin: 0 8px 1px;

	background-color: white;

	@include drop-shadow(1);

	.field-group {
		line-height: 150%;
		margin: 0.6em 0;
	}
	.label {
		font-size: 90%;
		padding-right: 0.3em;
		color: lighten($color-text, 40%);
	}
	.field {
		font-size: 90%;
		&.text-large {
			font-size: 110%;
		}
	}

	.button {
		background-color: $color-background;
	}

	&.edit {
		padding: 28px;
		margin: 8px 0;
		border-radius: 2px;
		border-left: 4px solid $color-complement;

		@include drop-shadow(5);
	}
}

.token-list-input {
	@extend .clearfix;
	padding: 0 1em;
	width: auto;

	.token-input {
		display: inline-block;
		width: auto;
		min-width: 6em;

		.token-input-typeahead {
			padding: 0.5em;
		}
	}
}
.token-submit {
	display: none;
}
.token {
	float: left;
	display: inline-block;
	position: relative;
	top: 0;

	margin: 0.5em 3px;
	border-radius: 2px;
	font-size: 0.8em;

	color: $color-text-primary-2;
	background-color: $color-primary-2;

	@extend %floating-transitions;

	&:hover {
		top: -0.5px;
		@include drop-shadow(1);
	}

	span {
		padding: 0.4em 8px;
		padding-right: 0;
	}
	button {
		margin: 0;
		padding: 0.4em 8px;
		font-size: 100%;
		border: none;
		background: none;
	}
}

.group {
	@extend .clearfix;
	display: table;

	.group-component {
		display: table-cell;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		vertical-align: middle;
		border-radius: 0;
	}
	.group-component:first-child {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.group-component:last-child {
		float: right;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

/* The following toggle styles are adpated from Materialize (materializecss.com)
 * License: The MIT License (MIT)
 * Copyright (c) 2014-2015 Materialize
 */
.toggle label {
	color: lighten($color-text, 40%);
	font-size: 80%;
	padding: 0 11px;

	.toggle-lever {
		content: "";
		display: inline-block;
		position: relative;
		width: 40px;
		height: 15px;
		background-color: darken($color-background, 10%);
		border-radius: 15px;
		transition: background 0.3s ease-out;
		vertical-align: middle;
		margin: 0 11px;

		&:after {
			content: "";
			position: absolute;
			display: inline-block;
			width: 21px;
			height: 21px;
			background-color: $color-background;
			border-radius: 21px;
			left: -5px;
			top: -3px;
			transition: left 0.3s $ease-swift, background 0.3s ease-out;
		}
	}

	input[type=checkbox] {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .toggle-lever:after {
			left: 24px;
		}
		&:not(:disabled) {
			& + .toggle-lever {	
				cursor: pointer;
			}
			& + .toggle-lever:after {
				cursor: pointer;
				@include drop-shadow(1);
			}
			&:checked + .toggle-lever {
				background-color: $color-primary-2;
			}
			&:checked + .toggle-lever:after {
				background-color: $color-primary-1;
			}
		}
		&:disabled {
			& + .toggle-lever {
				background-color: mix(desaturate($color-primary-2, 40%), white, 50%);
			}
			& + .toggle-lever:after {
				background-color: mix(desaturate($color-primary-1, 40%), white, 50%);
			}
		}
	}
}

.typeahead-nostyle {
	border: none;
	outline: none;
}

.modal-content {
	border-radius: 3px;
}