@import "reset";
@import "typeahead";
@import "drop-shadow";

$header-height: 75px;
$sidebar-width: 200px;

$color-text: #1a1a1a;
$color-background: #f8f8f8;

$color-text-alt: #bcbfb4;
$color-background-alt: #1f1f1f;

$color-primary-1: #ff0040;
$color-primary-2: #ffceee;
$color-primary-3: #fffad8;
$color-complement: #5bb827;
$color-text-primary-1: #ffffff;
$color-text-complement: #ffffff;

body { margin: 0 }
.layout-row, .layout-col { overflow: hidden; position: absolute; }
.layout-row { left: 0; right: 0; }
.layout-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

$sidebar-width: 250px;

.header {
	height: $header-height;
	z-index: 1;
}
.sidebar {
	width: $sidebar-width;
	top: $header-height;
	z-index: 2;
}
.body {
	top: $header-height;
	left: $sidebar-width;
	z-index: 0;
}

html,body {
	color: $color-text;
	background-color: $color-background;
	font-size: 100%;
}
a {
	color: $color-primary-1;
	&:link {
		color: $color-primary-1;
	}
	&:visited {
		color: darken($color-primary-1, 10%);
	}
	&:hover {
		color: lighten($color-primary-1, 20%);
	}
	&:active {
		color: darken($color-primary-1, 10%);
	}
}

h1,h2 {
	font-size: 160%;
	font-weight: lighter;
}
h3,h4 {
	font-size: 140%;
}
h5,h6 {
	font-size: 120%;
}

.text-large {
	font-size: 120%;
	font-weight: bold;
}

.form-control, .btn {
	position: relative;
	top: 0;
	margin: 4px 0;
	border-radius: 2px;

	&:not([disabled]) {
		transition: top 0.02s ease-out;

		@include drop-shadow(0);
		&:hover {
			top: -2px;
			@include drop-shadow(2);
		}
	}
}
.btn:active:not([disabled]) {
	top: -1px;
	@include drop-shadow(1);
}

@import "components";

.fadein {
	animation: fadein 0.4s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}