@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700|Roboto+Slab:300,700,400|Roboto:400italic,700italic,700,400);
@import "reset";

$header-height: 75px;
$sidebar-width: 200px;

$color-text: #2E2E2E;
$color-background: #f8f8f8;

$color-text-alt: #bcbfb4;
$color-background-alt: #1f1f1f;

$color-primary-1: #1DA15A;
$color-primary-2: #C7EDB5;
$color-complement: #C50066;
$color-text-primary-1: #ffffff;
$color-text-primary-2: #192421;
$color-text-complement: #ffffff;

$ease-swift: cubic-bezier(0.2, 0, 0.1, 1);

@import "typeahead";
@import "drop-shadow";

* { box-sizing: border-box }

body { margin: 0 }
.layout-row, .layout-col { overflow: hidden; position: absolute; }
.layout-row { left: 0; right: 0; }
.layout-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

$sidebar-width: 250px;

.header {
	height: $header-height;
	z-index: 2;
}
.sidebar {
	width: $sidebar-width;
	top: $header-height;
	z-index: 1;
}
.body {
	top: $header-height;
	left: $sidebar-width;
	z-index: 0;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

html,body {
	color: $color-text;
	background-color: $color-background;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 100%;
}
a {
	color: $color-primary-1;
	&:link {
		color: $color-primary-1;
	}
	&:visited {
		color: darken($color-primary-1, 10%);
	}
	&:hover {
		color: lighten($color-primary-1, 20%);
	}
	&:active {
		color: darken($color-primary-1, 10%);
	}
}

h1,h2 {
	line-height: 180%;
	font-size: 160%;
	font-weight: lighter;
}
h3,h4 {
	line-height: 170%;
	font-size: 140%;
}
h5,h6 {
	line-height: 160%;
	font-size: 120%;
}

.text {
	line-height: 2em;
	font-family: "Roboto", sans-serif;
}

.text-large {
	font-size: 120%;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.pad {
	padding: 0.5em;
}
.mar {
	margin: 0.5em;
}
@import "components";