// http://codepen.io/CSS3fx/pen/EfByo
.spinner-circular {								
	position:absolute;
	top:20%;
	left:50%;
	width: 70px; 
	height: 70px;
	animation: spinner-rotate 2s linear infinite, spinner-fade-in 2s linear;
	background-color: white;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);

	opacity: 1;
	transition: opacity 1s linear;
}

.spinner-hide {
	opacity: 0;
}

@keyframs spinner-fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes spinner-rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}


.spinner-path {
	stroke-dasharray: 1,200;
	stroke-dashoffset: 0;
	animation: spinner-dash 1.5s $ease-swift infinite,
		spinner-color 6s $ease-swift infinite;
	stroke-linecap: round;
	stroke: #3f88f8;
}

@keyframes spinner-dash {
	0%   {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50%  { 
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}

@keyframes spinner-color {
	0%   {stroke: $color-primary-1;}
	20%  {stroke: $color-primary-1;}
	25%  {stroke: $color-complement;}
	45%  {stroke: $color-complement;}
	50%  {stroke: $color-primary-1;}
	70%  {stroke: $color-primary-1;}
	75%  {stroke: $color-complement;}
	95%  {stroke: $color-complement;}
}