@import "common";

.header {
	background-color: white;
}
.sidebar {
	color: $color-text-alt;
	background-color: $color-background-alt;
}
.body {
	background-color: $color-background;
}

.sidebar .menu {
	padding: 20px 0;

	& > li {
		width: 100%;

		font-weight: bold;

		&.active {
			color: $color-text;
			background-color: $color-background;
		}
		&.indirect {
			background-color: darken($color-background, 20%);
		}

		a {
			color: inherit;
			display: block;
			padding: 1.2em 30px;
		}
	}
}