@import "common";

.header {
	color: $color-text-primary-1;
	background-color: $color-primary-1;
}
.sidebar {
	color: $color-text-alt;
	background-color: $color-background-alt;
}
.body {
	background-color: $color-background;
}

.sidebar .menu {
	padding: 20px 0;

	& > li {
		width: 100%;
		font-weight: bold;
		border-left: 0px solid $color-background-alt;
		transition: border-left 0.3s $ease-swift, background-color 0.1s ease-out;

		&.active {
			color: $color-text;
			background-color: $color-background;
			border-left: 4px solid $color-complement;
		}
		&.indirect {
			background-color: darken($color-background, 10%);
			box-shadow: inset -3px 0 2px -2px rgba(0,0,0,0.2);
		}

		a {
			display: block;
			padding: 1.2em 30px;
			color: inherit;
			text-decoration: none;
		}
	}
}

a.tile-container {
	color: $color-text;
}
.tile-container {
	@extend .fade-in;

	padding: 6px;
	text-decoration: none;

	.tile {
		padding: 25px;
		color: $color-text;
		background-color: white;
		
		transition: all 0.1s ease-out;
		transition-property: opacity, color, background-color;
		@include drop-shadow(2);

		h1 {
			margin: 0px 0 30px;
		}
		.field {
			opacity: 0.6;
			margin: 4px 0;
		}
		p {
			margin-top: 0.5em;
		}
	}

	&.highlight .tile {
		color: darken($color-complement, 10%);
		background-color: white;
		@include drop-shadow(3);
		.button {
			transition: inherit;
		}
	}
	&.highlight:hover .tile {
		color: $color-text-complement;
		background-color: $color-complement;

		.button {
			color: $color-primary-1;
			background-color: white;
		}
	}
	&.faded .tile {
		opacity: 0.4;
	}
	&:hover .tile {
		opacity: 1;
		color: $color-text-primary-1;
		background-color: $color-primary-1;
	}

	&:hover {
		text-decoration: none;
	}
}