@import "common";

.splash-container {
	display: table;
	text-align: center;
}
.splash {
	display: table-cell;
	vertical-align: middle;
	width: 100vw;
	height: 80vh;

	color: white;
	text-shadow: 0 0 20px rgba(0,0,0,0.8);

	background: url("../img/header.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: $color-background-alt;

	.logo-container {
		margin: 2.5em;

		.logo-large {
			margin: 0 auto;
		}
		.logo-type {
			font-size: 3rem;
		}
	}

	.splash-title {
		font-size: 1.5em;
	}

	.launch-container {
		margin: 2.5em;

		.splash-button {
			font-size: 1.5em;
			margin: 1em 0;
			padding: 1em 2em;
			border-radius: 4px;
			box-shadow: 0 2px 44px 2px rgba(0,0,0,0.6) !important;
			color: $color-text-complement;
			background-color: $color-complement;

			&:hover {
				box-shadow: 0 3px 48px 2px rgba(0,0,0,0.6) !important;
				background-color: lighten($color-complement, 5%);
			}
		}

		a, a:visited {
			color: $color-primary-2;
		}
		a:hover, a:active {
			color: white;
		}
	}
}

.content {
	color: $color-text;
	background-color: white;
	font-size: 1.2em;

	box-shadow: 0 -2px 44px 0 rgba(0,0,0,0.6);

	.text {
		padding-left: 24%;
		padding-right: 24%;
		margin: 6% 0;
	}
	.img-text {
		padding-left: 6%;
		padding-right: 6%;
		margin: 6% 0;
	}

	h1 {
		font-family: "Roboto Condensed", sans-serif;
	}
	p {
		margin: 1em 0;
	}

	.img-box {
		position: relative;
		overflow: hidden;
		min-height: 50vh;
		transition: background-position 0.3s $ease-swift;

		&:before {
			content: "";
			display: block;
			width: 100%;
			min-height: inherit;
			transition: background-color 0.2s linear;
		}
		&.fill-1:before {
			background-color: rgba($color-primary-1, 0.8);
		}
		&.fill-2:before {
			background-color: rgba($color-primary-1, 0.8);
		}
		&.fill-3:before {
			background-color: rgba($color-primary-1, 0.8);
		}

		.img-box-caption {
			position: absolute;
			padding: 1em;
			width: 100%;
			bottom: -100%;
			color: white;
			text-shadow: 0 0 0.5em rgba(0,0,0,1);
			background-color: rgba(0,0,0,0.8);
			transition: all 0.3s $ease-swift;
			transition-properties: top, bottom, background;
		}

		&:hover {
			background-position: center !important;
			transition: background-position 0.4s $ease-swift;

			&:before {
				background-color: transparent;
			}
			.img-box-caption {
				bottom: 0;
			}
		}

		img {
			display: none;
		}
	}
}

$img-box-names: "choropleth", "bivariate", "upload", "upload-result", "tag-map", "tag-map-overlay";
@each $name in $img-box-names {
	#img-#{$name} {
		background-image: url("../img/" + $name + ".png");
		background-position: top;
		background-size: cover;
	}
}

.dark {
	color: white;
	background-color: $color-background-alt;

	h1 {
		color: $color-text-alt;
	}
}

.about-section {
	padding-top: 1em;
	padding-bottom: 1em;
	@extend .dark;

	.text-small {
		font-size: 60%;
	}
}

ol li {
	list-style-type: decimal;
}
ul li {
	list-style-type: square;
}

.footer-section {
	color: #909090;
	background-color: black;
	padding: 2em 10%;
}

.up-logo {
	width: 70px;
	height: 70px;
	opacity: 0.2;
}
