@import "common";

#body {
	background-color: $color-background-alt;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.login-box {
	display: table-cell;
	vertical-align: middle;
}

.login-box > * {
	margin-left: auto;
	margin-right: auto; 
	width: 12em;
}

.input {
	width: 100%;
}
