@import "common";

.header {
	color: $color-text-primary-1;
	background-color: $color-primary-1;
}
.sidebar {
	background-color: white;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
	padding: 20px 0;
}
.body {
	background-color: $color-background;
}

.map-panel {
	width: 100%;
	height: 100%;
}

.map-polygon {
	transition: all 0.4s linear;

	opacity: 0;
	&.visible {
		opacity: 1;
	}
}

.map-tag, .map-tag-stroke {
	text-anchor: middle;
	dominant-baseline: central;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	fill: black;
	text-rendering: optimizeSpeed;
}
.map-tag-stroke {
	stroke: white;
	stroke-width: 6px;
	stroke-linejoin: round;
}

.histogram-bar {
	fill: #BFBFBF;
	stroke: #BFBFBF;
	stroke-width: 1px;
}
.histogram-label {
	fill: black;
	font-size: 80%;
	font-weight: bold;
	writing-mode: tb;
	text-anchor: start;
	dominant-baseline: central;
	&:first-child {
		dominant-baseline: ideographic;
	}
	&:last-child {
		dominant-baseline: text-before-edge;
	}
}
.histogram-title {
	fill: black;
	font-weight: lighter;
	text-anchor: middle;
	dominant-baseline: ideographic;
}

.scatterplot-point {
	fill: #ffffff;
}
.scatterplot-point-shadow {
	fill: #000000;
	opacity: 0.3;
	transform: translate(0,0.5px);
}
.scatterplot-label {
	fill: black;
	font-size: 80%;
	font-weight: bold;
	dominant-baseline: central;
	&:first-child {
		dominant-baseline: ideographic;
	}
	&:last-child {
		dominant-baseline: text-before-edge;
	}
}
.scatterplot-label-x {
	writing-mode: tb;
	text-anchor: start;
}
.scatterplot-label-y {
	text-anchor: end;
}
.scatterplot-title {
	fill: black;
	font-weight: lighter;
	text-anchor: middle;
}
.scatterplot-title-y {
	writing-mode: tb;
	dominant-baseline: ideographic;
}