SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
<IfModule mod_php5.c>
	php_value upload_max_filesize 64M
	php_value post_max_size 66M
	php_value max_execution_time 150
</IfModule>

<Limit GET HEAD POST PUT DELETE OPTIONS>
	Require all granted
</Limit>
